version: 2
updates:
  # Keep npm dependencies up to date
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      angular:
        applies-to: version-updates
        patterns:
          - '@angular*'
        update-types:
          - 'minor'
          - 'patch'
      minor-and-patch:
        applies-to: security-updates
        patterns:
          - '@angular*'
        update-types:
          - 'patch'
          - 'minor'
    ignore:
      - dependency-name: '@angular*'
        update-types: ['version-update:semver-major']
